
<div class="panel-content">
  <app-navbar > </app-navbar>
    <div class="fluid-container">
      <div class="row">
        <div class="col-md-4">
              <a href="/dash/test"><button class="tried ">{{job_in}}
                <div class=" mt-2"><h5>Total:{{Total}} |  Pass:{{Pass}} | Fail:{{Fail}}</h5></div>
              </button></a>
      </div>
      <div class="col-md-4">
              <a href="/dash/test1"><button class="tried">PolyLogyx_Automation_Test_Suite
                <div class=" mt-1"><h5>Total:{{Total1}} | Pass:{{Pass1}} | Fail:{{Fail1}}</h5></div>
                    <div class=" mt-1"><h5>Date:{{date_time}}</h5></div>
              </button></a>
      </div>
      <div class="col-md-4">
            <a href="/dash/test2"><button class="tried">{{job_in2}}
              <div class=" mt-2"><h5>Total:{{Total2}} |  Pass:{{Pass2}} |  Fail:{{Fail2}}</h5></div>
            </button></a>
      </div>
  </div>
  <br>

  <div class="row">
      <div class="col-xl-4">
          <div class="card border-primary">
            <div class="card-body">
                <canvas id="canvas1" width="15" height="15" ></canvas>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
            <div class="card border-primary">
              <div class="card-body">
                <canvas id="canvas2" width="20" height="20" ></canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
              <div class="card border-primary">
                <div class="card-body">
                  <canvas id="canvas3" width="20" height="20" ></canvas>
                </div>
              </div>
            </div>
  </div>
  </div>
</div>
