
<div class="row">
      <div class="col-lg-12 ">
        <h4>{{job_in}}</h4>
           <table class="table table-hover table-bordered table-responsive-xl" >
            	<thead class="thead-light">
                  <tr>
                    <th>Build Number</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>Pass</th>
                    <th>Fail</th>
                    <th>Total</th>
                    <th>End Time</th>
                    <th>Result</th>
                    </tr>
                </thead>
              <ng-container *ngFor="let value of data">
                      <tbody>
                      <tr (click)="value.expanded = !value.expanded">
                        <td>{{value.build}}</td>
                        <td>{{value.time1 | slice:0:10 }}</td>
                        <td>{{value.time1 | slice:9 }}</td>

                        <td>{{value.pass}}</td>
                        <td>{{value.fail }}</td>
                        <td>{{value.total}}</td>
                        <td>{{value.time2 | slice:9}}
                        <td>{{value.result}}</td>
                      </tr>
                     </tbody>
              </ng-container>
          </table>
      </div>
  </div>
