.my-card
{
    position:absolute;
    left:40%;
    top:2px;
    border-radius:50%;
}

tbody.collapse.in {
    display: table-row-group;
  }

table .collapse.in {
	display:table-row;
}
.border-warning1
{
    color:      #ed1556;
    border-color:  #ed1556;
}
